doctype html
html
  head
    title=t('global.app-name')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(rel='stylesheet', href='/app.css')

  body
    header#site-header.navbar.navbar-static-top
    section.site-content

    script(src='/app.js')
    script.
      require('./lib/boot')
