#technologies-wrapper
  .technologies-admin
    .row.well.well-lg
      .col-xs-12.col-md-2
        a.btn.btn-success.btn-block.new(href='/admin/technologies/create')
          span.fa.fa-plus
          = ' ' + t('admin.list.new')
      .col-xs-12.col-md-7.col-md-offset-3
        .input-group.input-group-md
          span.input-group-addon
            i.fa.fa-search
          input.form-control.search(type='text', placeholder=t("admin.list.search.placeholder"), value='{{search}}')
    .row
      .list.list-group
        | {{#each technologies}}
        a.list-group-item
          span.name='{{ name }}'
          a.btn-action.pull-right(href='#' on-click='delete:{{id}}, {{ name }}')
            img(src='/lib/admin/images/cancel.svg')
          a.btn-action.pull-right(href='/admin/technologies/{{id}}')
            img(src='/lib/admin/images/edit.svg')
        | {{/each}}
