body
	background-color #dfdfdf
	font-family "Lucida Grande"
	padding-top 112px
	transition all ease .3s
	-webkit-font-smoothing antialiased

  .no-gutter [class*="col-"]
		padding 0 !important

h1,h2,h3
	font-weight 100

a
	font-weight bold
	color #000
	&:focus
		outline none
	&:hover
		color #000

.btn
	letter-spacing 2px
	text-transform uppercase
	&.btn-default
		background-color #e76056
		border-color #cb694b
		color #fff

.site-content
	padding-bottom 20px
	font-family "Abel"

	h1, h2, h3, h4, h5, h6
		font-family "Abel"

.app-logo
	background-repeat no-repeat
	background-size 70%
	background-position center center
	display block
	height 175px
	width 100%

textarea
	resize none