ul.admin-menu.nav.nav-pills.nav-stacked
  li: a(href="/admin/apps")=t('admin-sidebar.applications.title')
  li: a(href="/admin/categories")=t('admin-sidebar.categories.title')
  li: a(href="/admin/tags")=t('admin-sidebar.tags.title')
  li: a(href="/admin/countries")=t('admin-sidebar.countries.title')
  li: a(href="/admin/technologies")=t('admin-sidebar.technologies.title')
