ul.admin-menu.nav.nav-pills.nav-stacked
  li: a(href="/admin/applications")=t('admin-sidebar.applications.title')
  li: a(href="/admin/categories")=t('admin-sidebar.categories.title')
  li: a(href="/admin/tags")=t('admin-sidebar.tags.title')
