.homepage
  .row
    margin-bottom 22px

    &.filters
      text-align center

      .badge
        margin 0 5px

        .filter-remove
          margin-left 10px

          a
            color white

            &:hover
              text-decoration none
              cursor pointer

  .filters
    input.search
      border 1px solid #b3b3b3
      border-bottom 3px solid #b3b3b3
      outline 0
      padding 20px 20px 20px 30px
    .search-icon
      color #b3b3b3
      position absolute
      left 25px
      top 15px

  a.btn-filter
    color #4d4d4d
    font-weight bold
    text-transform capitalize

  .loading-overlay
    position fixed
    height 100%
    width 100%
    opacity 0.8
    background-color #dfdfdf
    z-index 10

  .applications-container
    display flex
    flex-wrap wrap
    justify-content center
