.homepage
  .row
    margin-bottom 22px
  
  .filters
    input.search
      border 1px solid #b3b3b3
      border-bottom 3px solid #b3b3b3
      outline 0
      padding 20px 20px 20px 30px 
    .search-icon
      color #b3b3b3
      position absolute
      left 25px
      top 15px
