section.container.homepage
  .row
    | {{#if user.id }}
    .col-xs-12.col-lg-3.col-lg-offset-9
      a.btn.btn-default.btn-block(href='/apps/new')
        i.glyphicon.glyphicon-plus-sign
        |  #{t('Upload app')}
    | {{/if}}
  .row
    | {{#each applications}}
    application(application='{{ this }}')
    | {{/each applications}}
