.navbar
  .container
    .navbar-text.pull-right
      =t('footer.powered-by') + ' '
      a(href='http://democracyos.org/' target='_blank') Democracia en Red
      =' ' + t('and') + ' '
      a(href='http://www.asuntosdelsur.org/' target='_blank') Asuntos del Sur
