.navbar
  .container
    .navbar-text.pull-right
      =t('footer.powered-by') + ' '
      a(href='http://democraciaenred.org/' target='_blank') DemocracyOS
      =' ' + t('and') + ' '
      a(href='http://democracyos.org/' target='_blank') Democracia en Red