.col-xs-12.col-sm-6.col-md-3
  | {{#with application }}
  article.application-card
    a.app-logo.logo(href='/apps/{{ id }}', style='background-color: {{ backgroundColor }}; background-image: url({{ logo }})')
      h1 {{ title }}
    section.app-detail
      header
        h1: a(href='/apps/{{ id }}')='{{ title }}'
        h2='{{ countryName }}'
      p.description='{{ description[config.locale] }}'
      p.working-at='{{ workingAt }}'
    footer
      .twitter.pull-left
        a(href='http://twitter.com/{{ twitter }}' target='_blank')='@{{ twitter }}'
  | {{/with application}}
