body.app-form
  background-color #e76056
  transition all ease .1s

  .error
    background-color #f2dede
    border 1px solid #d9534f
    color #d9534f
    outline none

  .step-1,
  .step-2,
  .header-step
    color #fff

  .header-step
    transition all ease .5s

  .left-container
    padding-top 10px

  .disabled
    color #f08d85

  .color-picker
    text-align center

  input
    color #6d6d6d
    padding 12px
    margin-bottom 10px
    width 100%
    &.rgb
      text-align center
      text-transform uppercase

  .background-color
    background-color #262626
    max-width 275px
    height 200px
    margin 0 auto
    
    h1
      height 200px
      line-height 200px
      margin 0
      text-align center
      width 100%

  .title-container
    background-color #d7d7d7
    height 200px
    margin 0 auto
    max-width 275px
    padding 22px 0
    text-align center

    textarea
      color #6d6d6d
      height 100px
      margin 0 auto
      padding 6px 12px
      resize none
      width 80%
      
  textarea.description
    height 100px
      
  .checkbox .label:hover
    cursor default

  .continue
    margin-top 10px
    
  .app-detail
    .btn.back
      display none