.admin-content
  .error
    background-color #f2dede
    border 1px solid #d9534f
    color #d9534f
    outline none

  .related-links
    .related-link
      margin-bottom 20px

      input
        width 100%

    .related-links-commands
      margin-top 20px