script.
  var disqus_config = function () {
    // The generated payload which authenticates users with Disqus
    this.page.remote_auth_s3 = '#{ disqus.auth }';
    this.page.api_key = '#{ disqus.pubKey }';
    this.language = '#{ lang }';
  };

  var disqus_developer = #{ Number(config.env === 'development') };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://civicstack.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  
