article.app-detail
  a.link
    color #0071bb

  [class*="col-"]
    @media (min-width: 768px)
      float none
      display table-cell
      vertical-align top

  .main-info
    .app-data
      background-color #efefef
      height 300px
      padding 25px 40px

      h1, h2, h3
        margin 0
        margin-bottom 22px
        font-size 22px

        small
          display block
          font-size 16px

      footer
        font-size 14px
        margin-top 40px

        .twitter, .license
          display block

        .upvotes
          .btn-upvote
            .glyphicon:before
              margin-right 10px


  section.comments
    padding 20px 20px

  .more-info-container
    background-color white

    .cover-video
      padding 45px 0

      .embed-container
        position relative
        padding-bottom 56.25%
        height 0
        overflow hidden
        max-width: 100%

        iframe
        object
        embed
          position absolute
          top 0
          left 0
          width 100%
          height 100%

    .more-info
      padding 45px 30px

      .list-group
        .list-group-item
          a
            &:hover
              text-decoration none
            .no-og
              h4
                margin-bottom 0

      h4
        font-size 20px
        font-weight bold
        margin-bottom 22px

        small
          font-size 14px
          margin-left 6px
