article.app-detail
  a.link
    color #0071bb

  [class*="col-"]
    @media (min-width: 768px)
      float none
      display table-cell
      vertical-align top

  .main-info
    .app-data
      background-color #efefef
      height 300px
      padding 25px 40px

      h1, h2, h3
        margin 0
        margin-bottom 22px
        font-size 22px

        small
          display block
          font-size 16px

      footer
        font-size 14px
        margin-top 40px

        .twitter, .license
          display block

  section.comments
    padding 20px 20px

  .more-info-container
    background-color white

    .more-info
      padding 45px 30px

      h4
        font-size 20px
        font-weight bold
        margin-bottom 22px

        small
          font-size 14px
          margin-left 6px
