article.row.app-detail
  | {{#application}}
  section.main-info.col-xs-12.col-lg-3
    a.app-logo.logo(href='{{ website }}', style='background-color: {{ backgroundColor }}; background-image: url({{ logo }})', target='_blank')
      h1 {{ name }}
    .app-data
      h1 {{ name }}
        small {{ country.name[lang] }}
      h2 Organization name
        small {{ organization }}
      | {{#if contact}}
      h3 Contact
        small {{ contact }}
      | {{/if}}

      footer.text-center
        | {{#if twitter}}
        .twitter: a(href='https://twitter.com/{{ twitter }}' target='_blank') @{{ twitter }}
        | {{/if}}
        | {{#if license}}
        .license Lic: {{ license.name }}
        | {{/if}}

  aside.col-xs-12.col-lg-9.more-info-container
    .more-info.col-md-6
      h4 Website:
        small: a.link(href='{{ website }}', target='_blank') {{ website }}
      | {{#if description[lang]}}
      h4 Description:
        small {{ description[lang] }}
      | {{/if}}
      | {{#if technologynames}}
      h4 Technlogy:
        small {{ technologynames }}
      | {{/if}}
      | {{#if github}}
      h4 Github code:
        small: a.link(href='{{ github }}', target='_blank') {{ github }}
      | {{/if}}
      | {{#if tagnames}}
      h4 Tags:
        small {{ tagnames }}
      | {{/if}}
      h4 Links:
      | {{#if linksLoading}}
      small Loading...
      | {{/if}}
      ul
        | {{#each links}}
        li
          .row
            a(href='{{this.url}}', target='_blank') {{ this.description || this.url }}
          .row
            {{ this.og.title }}
          .row
            {{ this.og.description }}
          .row
            {{ this.og.image }}
        | {{/each}}

      a.btn.btn-default.back(href='/')
        span.glyphicon.glyphicon-arrow-left
        |  Back

    | {{#if video}}
    .cover-video.col-md-6
      .embed-container
        iframe(src='{{ video }}', width='100%', height='100%' frameborder='0', allowfullscreen)
    | {{/if}}

  | {{#if showDisqus}}
  section.comments.container
    #disqus_thread
  | {{/if}}

  | {{/application}}
