header#site-header
  border-bottom 2px
  background-color #fff
  border-image url(/lib/header/images/border.png) 1265 1

  .navbar-brand
    font-size 26px
    
    img
      display inline-block
      margin-right 12px
      width 40px

  .navbar-toggle
    margin-top 30px
    .icon-bar
      background-color #e76059

  .navbar-nav
    margin-bottom 0

  .navbar-brand,
  .navbar-nav li a:not(.login),
  .navbar-nav li .navbar-text
    color #000
    height 90px
    line-height 90px
    padding-top 0

    img.avatar
      border-radius 100px
      margin-right 12px
      max-width 48px

  .navbar-nav li .navbar-text
    margin-top 0
    margin-bottom 0

    .login
      margin-left 6px
      &.twitter
        color #55acee
      &.github
        color black

  .navbar-collapse
    max-height inherit