header#site-header
  border-bottom 2px
  background-color #fff
  border-image url(/lib/header/images/border.png) 1265 1

  .navbar-brand
    font-size 26px
    
    img
      display inline-block
      margin-right 12px
      width 40px

  .navbar-toggle
    margin-top 30px
    .icon-bar
      background-color #e76059

  .navbar-nav
    margin-bottom 0

  .navbar-brand,
  .navbar-nav li a,
  .navbar-nav li p
    color #000
    height 90px
    line-height 90px
    padding-top 0

    img.avatar
      border-radius 100px
      margin-right 12px

  .navbar-nav li p
    margin-top 0
    margin-bottom 0

    &.login
      font-size 26px
      margin-left 0
      a
        color #55ACEE

  .navbar-collapse
    max-height inherit