header#site-header
  border-bottom 1px solid black
  background-color #fff

  .navbar-brand
    font-size 26px

  .navbar-brand,
  .navbar-nav li a
    line-height 90px
    height 90px
    padding-top 0
    color #000
