.container
  .navbar-header
    a(href='/').navbar-brand Civic Stack
  ul.nav.navbar-nav.navbar-right.hidden-xs
    li: a(href='/about')=t('header.about')
    li: p.navbar-text: strong=t('header.login-with')
