.container
  .navbar-header
    a(href='/').navbar-brand Civic Stack
  ul.nav.navbar-nav.navbar-right.hidden-xs
    li: a(href='/about')=t('header.about')
    | {{#if !user.logged() }}
    li: p.navbar-text
      strong=t('header.login-with')
    li: p.navbar-text.login
      a(href='/auth/twitter'): i.fa.fa-twitter
    | {{ else }}
    | {{#if (user.admin) }}
    li: p.navbar-text
      a(href='/admin')=t('header.admin')
    | {{/if}}
    li
      a(href='/logout')
        img(src='{{ user.avatar }}', title='{{ user.fullName }}')
        =t('header.logout')
    | {{ /if }}
