.container
  .navbar-header
    a(href='/').navbar-brand Civic Stack
    button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.ul-navbar-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .collapse.navbar-collapse.ul-navbar-collapse
    ul.nav.navbar-nav.navbar-right
      li: a(href='/about' data-toggle='collapse' data-target='.ul-navbar-collapse')=t('header.about')
      | {{#if !user.logged() }}
      li: p.navbar-text
        strong=t('header.login-with')
      li: p.navbar-text.login
        a(href='/auth/twitter'): i.fa.fa-twitter
      | {{ else }}
      | {{#if (user.admin) }}
      li
        a(href='/admin' data-toggle='collapse' data-target='.ul-navbar-collapse')=t('header.admin')
      | {{/if}}
      li
        a(href='/logout' data-toggle='collapse' data-target='.ul-navbar-collapse')
          img(src='{{ user.avatar }}' title='{{ user.fullName }}')
          =t('header.logout')
      | {{ /if }}
