header#site-header.navbar.navbar-static-top
  .container
    .navbar-header
      a(href='/').navbar-brand Civic Stack
    ul.nav.navbar-nav.navbar-right.hidden-xs
      li: a(href='#') Nosotros
      li: a(href='#') Login con
