.container
  a(href='/').navbar-brand
    img(src='/lib/header/images/logo.svg' title='Civic Stack')
    | Civic Stack
  button.toggle-sidebar(type='button' on-click='openSidebar()')
    span.icon-bar
    span.icon-bar
    span.icon-bar
