.container
  .navbar-header
    a(href='/').navbar-brand
      img(src='/lib/header/images/logo.svg' title='Civic Stack')
      | Civic Stack
    button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.ul-navbar-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .collapse.navbar-collapse.ul-navbar-collapse.text-center
    ul.nav.navbar-nav.navbar-right
      | {{#if lang != 'en' }}
      li: a(href='#' title=t('english') on-click='lang:en'): img(src='/lib/flags/usa.png')
      | {{/if}}
      | {{#if lang != 'es' }}
      li: a(href='#' title=t('spanish') on-click='lang:es'): img(src='/lib/flags/spain.png')
      | {{/if}}
      li: a(href='/about')=t('header.about')
      | {{#if !user.logged() }}
      li
        a.navbar-text
          strong=t('header.login-with')
          a.login.twitter(href='/auth/twitter'): i.fa.fa-twitter
          a.login.github(href='/auth/github'): i.fa.fa-github
      | {{ else }}
      | {{#if (user.admin) }}
      li
        a(href='/admin')=t('header.admin')
      | {{/if}}
      li
        a(href='/logout')
          img.avatar(src='{{ user.avatar }}' title='{{ user.fullName }}')
          =t('header.logout')
      | {{ /if }}
