doctype html
html
  head
    title Civic Stack
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", media="screen")
    link(rel="stylesheet", href="/app.css")
    link(rel="stylesheet", href="https://unpkg.com/react-select/dist/react-select.css")
  body
    #react-root=reactOutput
    script(type="text/javascript").
      window.__INITIAL_STATE__ = !{initialState}
      window.config = !{clientConfig}

    script(type="text/javascript", src="/dist/vendors.js")
    script(type="text/javascript", src="/dist/home.js")
